.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
	width: 400px;
	margin-right: 25px;
}

.right {
	float: left;
}

.form {
	margin-bottom: 25px;
}

.form__wrapper {
	margin-bottom: 15px;
}

.form__item {
	margin-bottom: 5px;
}

.right__header {
	margin-top: 0;
}

.special-class {
	font-size: 24px;
	color: #FBCEB1;
	text-decoration: underline;
}